* {
    background-color: black;
    color: wheat;
    font-family:'Karla', sans-serif;
    margin: 25px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: wheat;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color:black;
    background-color: wheat;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: wheat;
    padding: 10px 15px;
    border: none;
    float: right;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .name {
      float: left;
      font-size: 30px;
  }
  .banner {
    width: auto;
    height: auto;
    margin-top: 500px;
    margin-bottom: 600px;
    display: flex;
justify-content: center;
animation-duration: 8s;
  animation-name: bounceIn;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  }
  @keyframes bounceIn {
    0% {
      transform: scale(1);
      
    }
    50% {
      transform: scale(1.3);
      
    }
    100% {
      transform: scale(1);
     
    }
  }

  .subtitle {
    
    max-height: 25px;
    
    font-size: 20px;
    
  }
  .title {
    
    height: fit-content;
    top: 34%;
    Font-Size: 96px;
  
  }
  


  .aboutmecontainer {
      display: flex;
   
  }
  .aboutmetextcontainer p {
font-size: 18px;
  }
  .aboutmepic {
      
      max-width: 50%;
      max-height: 50%;
      min-height: 25%;
      max-height: 25%;
      transition: 1s ease 0.5s;
  }

  .aboutmepic:hover {
    
    border-radius: 70px;
    transform : scale(1.1)
  }
  #skills {
      margin-top: 500px;
  }
  #skills-container {
      margin-top: 30px;
      display: flex;
      justify-content:space-around;
  }
  .html5 {
transition: all 1s;
  }
  .html5:hover {
    
    transform : rotate(360deg) scale(2);
  }

  .css3 {
    transition: all 1s;
      }
      .css3:hover {
        
        transform : rotate(-360deg) scale(2);
      }

      .js {
        transition: all 1s;
          }
          .js:hover {
            
            transform : rotate(360deg) scale(2);
          }
  #projects {
    margin-top: 300px;
  
  }
  #projectstitle {
    text-align: left;
  }
  .projectscontainer {
    display: flex;
    justify-content: center;
  }

  #deli {
    text-align: center;
  
  }
  #bees {
    text-align: center;
  
  }
  

  #photo-deli {
    max-height: 40%;
    max-width: 40%;
  }
  #photo-deli:hover {
    opacity: 50%;

  }
  #photo-bees {
    max-height: 40%;
    max-width: 40%;
  }
#photo-bees:hover {
  opacity: 50%;
}
  
  #contact {
    margin-top: 300px;
    display: block;
   text-align: center;
    margin-bottom: 300px;
  }
