* {
    background-color: black;
    color: wheat;
    font-family: 'Brygada 1918', serif;
    margin: 30px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: wheat;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color:black;
    background-color: wheat;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: wheat;
    padding: 10px 15px;
    border: none;
    float: right;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .name {
      float: left;
      font-size: 30px;
  }
  .banner {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    display: flex;
    
  }
  .both {
    transition: all 1s ease-out;
  }

  .subtitle {
    position: relative;
    max-height: 25px;
    top: 31%;
    left: 18%;
    z-index: 9;
    font-size: 20px;
    
  }
  .title {
    position: relative;
    height: fit-content;
    top: 34%;
    left: 10%;
    z-index: 10;
    Font-Size: 6vw;
  }
  .both:hover {
    transform: translate(+15px, +30px);
transform: scale(1.5);
color:tomato;
  }


  .aboutmecontainer {
      display: flex;
  }
  .aboutmepic {
      
      max-width: 50%;
      max-height: 50%;
  }
  #skills {
      margin-top: 300px;
  }
  #skills-container {
      margin-top: 30pxpx;
      display: flex;
      justify-content:space-around;
  }

  #projects {
    margin-top: 300px;
    display: flex;
    justify-content: center;
  }
  #contact {
    margin-top: 300px;
    display: flex;
    justify-content: center;
  }
